In [1]:
# Import modules
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from census import Census
from us import states
import os

In [2]:
# Set API key
c = Census("15cb3869c61b721cde74a06a04fd5fd907c10810")

In [22]:
# https://api.census.gov/data/2019/acs/acs5/variables.html 
# Total population: B01003_001E
# Household income: B19001_001E

census_data_json = c.acs5.state_county(fields = ('NAME', 'B01001_001E', 'B19001_001E'),
                                    state_fips = '*',
                                    zcta = '*',
                                      county_fips = "*",
                                      tract = "*",
                                      year = 2020)

census_data_df = pd.json_normalize(census_data_json).drop(columns = ["NAME"]).rename(columns = { 'zip code tabulation area' : 'zipcode',
                                                                                                'B01001_001E' : 'population',
                                                                                                 'B19001_001E' : 'household_income'})

In [23]:
census_data_df.to_csv("census.csv")

In [33]:
df = pd.json_normalize(census_data_json)
df[["county", "state"]] = df["NAME"].str.split(',', expand=True)
df["state"] = df["state"].str[1:]
df = df.drop(columns = ["NAME"]).rename(columns = { 'B01001_001E' : 'population','B19001_001E' : 'household_income'})

df.to_csv("census.csv")

In [34]:
df[df["state"] == "Texas"]

      population  household_income  state            county
1312     57917.0           16555.0  Texas   Anderson County
1313     87119.0           31368.0  Texas   Angelina County
1314     24220.0            9917.0  Texas    Aransas County
1315      1950.0             720.0  Texas  Armstrong County
1316     50194.0           15798.0  Texas   Atascosa County
...          ...               ...    ...               ...
2513      5187.0            2060.0  Texas    Wheeler County
2514     21419.0            5882.0  Texas    Willacy County
2515      7822.0            2618.0  Texas    Winkler County
2516      8612.0            2601.0  Texas     Yoakum County
2517     11930.0            3674.0  Texas     Zavala County

[254 rows x 4 columns]

In [27]:
df.head()

                      NAME  B01001_001E  B19001_001E     state          county
0  Autauga County, Alabama      55639.0      21559.0   Alabama  Autauga County
1  Baldwin County, Alabama     218289.0      84047.0   Alabama  Baldwin County
2  Barbour County, Alabama      25026.0       9322.0   Alabama  Barbour County
3     Bibb County, Alabama      22374.0       7259.0   Alabama     Bibb County
4   Blount County, Alabama      57755.0      21205.0   Alabama   Blount County