In [4]:
# Import modules
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from census import Census
from us import states
import os

In [3]:
# Set API key
c = Census("15cb3869c61b721cde74a06a04fd5fd907c10810")

In [43]:
# https://api.census.gov/data/2019/acs/acs5/variables.html 
# Total population: B01003_001E
# Household income: B19001_001E

census_data_json = c.acs5.state_zipcode(fields = ('NAME', 'B01001_001E', 'B19001_001E'),
                                    state_fips = states.TX.fips,
                                    zcta = '*',
                                      county_fips = "*",
                                      tract = "*",
                                      year = 2020)

census_data_df = pd.json_normalize(census_data_json).drop(columns = ["NAME"]).rename(columns = { 'zip code tabulation area' : 'zipcode',
                                                                                                'B01001_001E' : 'population',
                                                                                                 'B19001_001E' : 'household_income'})

In [44]:
census_data_df

       population  household_income zipcode
0          3543.0             986.0   29590
1         74296.0           21974.0   93306
2          4082.0             949.0   93660
3         15777.0            6385.0   93110
4         22596.0            4014.0   93212
...           ...               ...     ...
33115       552.0             216.0   16623
33116      2118.0             880.0   16627
33117       315.0             146.0   16634
33118       707.0             299.0   16640
33119      4289.0            1595.0   17062

[33120 rows x 3 columns]